/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.dismissibleTag {
  --cds-layer: #ffffff00;
  --cds-text-disabled: #000000;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tagsContainer :global(.cds--tag--filter):hover :global(.cds--tag__close-icon) {
  background-color: rgba(0, 0, 0, 0.2);
}
