/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.tab3270Container {
  height: calc(100vh - 400px);
}

.clickableRow {
  cursor: pointer;
}

.tableOfScreenshotsContainer {
  width: 43%;
  max-height: 100%;
  overflow-x: hidden;
  padding-right: 1px;
  float: left;
}

.lightTheme {
  color-scheme: light;
}

.darkTheme {
  color-scheme: dark;
}

.terminalDropdownMenu {
  padding-left: 8px;
  width: max-content;
  min-width: 200px;
  max-width: 400px;
}

.stickToTop {
  position: sticky;
  top: 0;
}

.screenshot {
  width: 54%;
  min-width: 400px;
  top: 90px;
  float: right;
  align-self: stretch;
  vertical-align: middle;
}
