/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.tab3270Container {
  height: 100vh;
}

.clickableRow {
  cursor: pointer;
}

.tableOfScreenshotsContainer {
  width: 43%;
  overflow-x: hidden;
  padding-right: 1px;
  padding-bottom: 60px;
  float: left;
}

.tableOfScreenshotsContainer:hover {
  overflow-x: visible;
}

.terminalDropdownMenu {
  padding-left: 8px;
  width: max-content;
  min-width: 200px;
  max-width: 400px;
}

.screenshotContainer {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding-top: 50px;
  padding-left: 50px;
  height: var(--viewport-height, '100vh');
}

.screenshot {
  position: sticky;
  top: 90px;
  align-self: stretch;
}
