/*
 * Copyright contributors to the Galasa project
 */
@use '@carbon/react';

//--------------------------------------------------------------------------
// Global styles
//--------------------------------------------------------------------------
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content {
  display: inline-block;
  position: relative;
  margin-top: 3rem;
  // Temporarily removed left margin since the sidebar is not implemented yet
  // margin-left: 16rem;
}

//--------------------------------------------------------------------------
// Utility classes
//--------------------------------------------------------------------------
$spaceSizes: (1, 2, 3, 4, 5, 6, 7, 8);

@each $space in $spaceSizes {
  .margin-#{$space} {
    margin: #{$space}rem;
  }

  .margin-x-#{$space} {
    margin-left: #{$space}rem;
    margin-right: #{$space}rem;
  }

  .margin-y-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;

  }

  .margin-left-#{$space} {
    margin-left: #{$space}rem;
  }

  .margin-right-#{$space} {
    margin-right: #{$space}rem;
  }

  .margin-bottom-#{$space} {
    margin-bottom: #{$space}rem;
  }

  .margin-top-#{$space} {
    margin-top: #{$space}rem;
  }

  .padding-#{$space} {
    padding: #{$space}rem;
  }

  .padding-x-#{$space} {
    padding-left: #{$space}rem;
    padding-right: #{$space}rem;
  }

  .padding-y-#{$space} {
    padding-top: #{$space}rem;
    padding-bottom: #{$space}rem;

  }

  .padding-left-#{$space} {
    padding-left: #{$space}rem;
  }

  .padding-right-#{$space} {
    padding-right: #{$space}rem;
  }

  .padding-bottom-#{$space} {
    padding-bottom: #{$space}rem;
  }

  .padding-top-#{$space} {
    padding-top: #{$space}rem;
  }
}