/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.header {
  display: flex;
  align-items: center;
}

.container {
  background-color: var(--cds-layer);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.headerMenuButton {
  border: none;
}

.toolbar {
  display: flex;
  padding: 0.7rem;
}

.searchBar {
  padding: 0.4rem;
}

.sideNavExpanded {
  width: 320px;
}

.sideNavCollapsed {
  width: 0;
  overflow: hidden;

}

.headerTitle {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.7rem;
}

.sideNavCollapsed,
.sideNavExpanded {
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.2s ease-in-out;
  flex-grow: 1;
  overflow-y: auto;
}

.notification {
  position: fixed;
  bottom: 5.5rem;
  right: 1rem;
}