/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.header {
  display: flex;
  align-items: center;
}

.container {
  background-color: var(--cds-layer);
}
.headerMenuButton {
  border: none;
}

.sideNavExpanded {
  width: 250px;
}

.sideNavCollapsed {
  width: 0;
}

.headerTitle {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
}

.sideNavCollapsed,
.sideNavExpanded {
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.2s ease-in-out;
}
