/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.sideNavItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  transition: background-color 0.15s ease-in-out;
}

.dragHandle {
  cursor: grab;
  visibility: hidden;
  margin-left: 0.5rem;
}

.sideNavItem:hover {
  background-color: var(--cds-layer-selected);
  cursor: pointer;
}

.sideNavItem:hover .dragHandle {
  visibility: visible;
}

.dragging {
  cursor: grabbing;
  background-color: var(--cds-layer-selected);
}

.dragging .dragHandle {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.sideNavLink {
  text-decoration: none;
  color: var(--cds-text-primary) !important;
  font-size: 0.9rem;
  flex-grow: 1;
  padding: 0.5rem;
  outline: none;
}

.sideNavLink:hover,
.sideNavLink:focus,
.sideNavLink:active {
  text-decoration: none;
  color: var(--cds-text-primary) !important;
}
