/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.overflowMenu {
  outline: none !important;
  box-shadow: none !important;
  background-color: #262626 !important;
  color: white !important;
  border-bottom: #525252 1px solid !important;
}
.overflowMenu:hover {
  background-color: #474747 !important;
}

.overflowMenuItem {
  outline: none !important;
  box-shadow: none !important;
}

.overflowMenuItemText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.renderIcon {
  fill: white;
  width: 18px;
  height: 18px;
}
